@use "base/variables" as v;
@use "base/mixins" as m;

.bloques {
    &__grid {
        @include m.tablet {
            @include m.grid(2, 0rem);
        }
    }
}

.bloque {
    height: 40rem;
    background-color: v.$primario;
    border: 5px solid v.$blanco;

    &:nth-child(2) {
        @include m.bgImage("../img/bloque_1.jpg");
    }

    &:nth-child(4) {
        @include m.bgImage("../img/bloque_2.jpg");
    }
}
